@model IEnumerable<Assignment1.Models.Hotel>

<div class="row">
  @foreach (var hotel in Model)
  {
    <div class="col-md-4 mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">@hotel.Name</h5>
          <p class="card-text">
            <strong>Location:</strong> @hotel.Location <br>
            <strong>Amenities:</strong> @hotel.Amenities <br>
            <strong>Price Per Night:</strong> @String.Format("{0:C}", hotel.PricePerNight)
          </p>
          <a asp-controller="HotelBookings" asp-action="Book" asp-route-hotelId="@hotel.HotelId" class="btn btn-primary">Book</a>
        </div>
      </div>
    </div>
  }
</div>
